@import '@/app/[locale]/vars.scss';

.wrapper {
	@apply relative;
	&::before {
		content: '';
		@apply absolute h-[750px] w-[1168px] -top-[100px] -left-[165px] -z-[1];
		@include bg-img('/red-head.svg', contain, right);
	}
}
.gradientText {
	background: linear-gradient(87deg, #ffde00 0%, #43f272 96.15%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
